
/*************header css Start*******************/
header {
    background-color: #fff;
    color: #fff;
    position: relative;
    z-index: 22;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
header.loggedin{
    border-radius: 0;
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
header.shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99999999;
}
.header-inner {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu-icoholder {
    width: 30px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    display: none;
    z-index: 1;
    cursor: pointer;
    justify-content: flex-end;
}
.menu-icoholder-side {
    width: 30px;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    flex-direction: column;
    align-items: end;
}
.mix-content .menu-icoholder {
    display: none;
}
.mix-content .menu-icoholder-side {
    display: flex;
}
.menu-ico {
    width: 20px;
    height: 24px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu-ico span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    position: relative;
}
.menu-ico span:before {
    content: '';
    position: absolute;
    top: -7px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
}
.menu-ico span:after {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
}
.menu-ico.active span:before {
    top: 0;
    transform-origin: center center;
    transform: rotate(45deg);
}
.menu-ico.active span {
    background-color:transparent;
}
.menu-ico.active span:after {
    bottom: 0;
    transform-origin: center center;
    transform: rotate(-45deg);
}
header ul li a {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none !important;
    font-size: 15px;
    font-weight: 500;
    gap: 5px;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    font-family: var(--desc_font);
}

header .header-left ul li:hover a,
header .header-left ul li:focus a,
header .header-left ul li.active a {
    color: #fff;
}
ul.navmenu-links.linksformob {
    display: none;
}
.mobile_language_cur {
    display: none;
}
header ul.mobile_language_cur li a {
    padding: 8px;
}
header ul.mobile_language_cur li.lang.add_hover .dropdown-content,
header ul.mobile_language_cur li.curr.add_hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
header ul.mobile_language_cur li.curr.hover__remove .dropdown-content,
header ul.mobile_language_cur li.lang.hover__remove .dropdown-content{
    opacity: 0;
    visibility: hidden;
}

.header-left ul li a:hover:after,
.header-left ul li a.active:after {
    opacity: 1;
}

.header-left ul,
.header-right ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    gap: 20px;
    align-items: center;
}
.header-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-left .logo {
    margin-right: 60px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.header-left .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 200px;
    height: 56px;
}
.header-left .logo img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    image-rendering: initial;
    image-rendering: -webkit-optimize-contrast;
}

.header-right ul li.login:hover:after,
.header-right ul li.login.active:after {
    opacity: 1;
}
.header-right ul li.lang:hover:after,
.header-right ul li.lang.active:after {
    opacity: 1;
}
.column a img {
    display: none;
}
.header-left ul li {
    position: relative;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.header-left ul li.active a {
    color: #fff;
}
.header-left ul li:last-child {
    margin-right: 0;
}
.header-right ul li:last-child {
    margin-right: 0;
}
header ul li a img {
    width: 20px;
    vertical-align: middle;
}
header ul li a img.cart {
    width: 25px;
}

header ul li.lang > a,
header ul li.curr > a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    height: auto;
}
header ul li.lang a img.drop_arrow, header ul li.curr a img.drop_arrow {
    height: 7px;
    width: auto;
}
/* Items */
.he_login {
    display: flex;
    gap: 15px;
}
.header-right .he_login li{
    padding: 0;
}
.he_login li a{
    border: solid 2px #000;
    color: #fff;
    height: auto;
    padding: 10px 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    background-color: #000;
    font-weight: 500;
    font-size: 17px;
}
.he_login li a:hover{
    background: transparent;
    color: #000;
}
.he_login li a:hover img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.he_login li.signup a{
    background-color: transparent;
    color: #000;
}

.he_login li.signup a:hover{
    background-color: #000;
    color: #fff;
}
.he_login li.signup a img{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.he_login li.signup a:hover img {
    filter: none;
}
.header-right ul li:hover {
    outline: none;
    text-decoration: none;
    position: relative;
}
.header-right ul li{
    padding: 25px 0;
}
.header-right ul li.lang:hover,
.header-right ul li.lang {
    position: relative;
}
.header-left ul li ul.level-menu {
    position: absolute;
    width: 250px;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    display: none;
    margin: 0px 0 0 25px;
}
header ul li ul.level-menu li a img {
    width: 15px;
    margin: 0 10px 0 0;
    position: relative;
    display: inline-block;
}
.header-left ul li.has-level-menu:hover ul.level-menu {
    margin: 0;
    display: block;
}
.header-left ul li ul.level-menu li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header-left ul li ul.level-menu li a {
    height: auto;
    padding: 14px 15px 16px 15px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--desc_font);
    transition: all 0.5s ease 0s;
}
.header-left ul li ul.level-menu li a:hover,
.header-left ul li ul.level-menu li a.active {
    background-color: #ddd;
}
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #fff;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.20);
    z-index: 1;
    top: 83px;
    padding: 30px 0;
    height: calc(100% - 83px);
    height: -o-calc(100% - 83px);
    height: -ms-calc(100% - 83px);
    height: -moz-calc(100% - 83px);
    height: -webkit-calc(100% - 83px);
    box-sizing: border-box;
    opacity: 1;
    overflow-y: auto;
}
.dropdown-content .row{
    margin: 0;
}
header ul.mobile_language_cur li .dropdown-content .row h3 {
    display: flex;
    font-size: 14px;
    color: #000;
    font-family: var(--desc_font);
    font-weight: 500;
    width: 100%;
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    background-color: #d5fffe;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
header ul.mobile_language_cur li .dropdown-content .row h3 span {
    font-size: 25px;
}
header ul.mobile_language_cur li .dropdown-content,
.header-right ul.lang li .dropdown-content,
.header-left ul.curr li .dropdown-content {
    right: 0;
    left: 0;
    display: block;
    position: absolute;
    background-color: #fff;
    width: 100vw;
    z-index: 1;
    top: 90%;
    height: auto;
    box-sizing: border-box;
    opacity: 1;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
}
header ul.mobile_language_cur li .dropdown-content:before {
    content: '';
    position: absolute;
    border-bottom: 12.5px solid #45AEAC;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    right: 36px;
    top: -12.5px;
}
.header-right ul li .dropdown-content:before {
    content: '';
    position: absolute;
    border-bottom: 12.5px solid #45AEAC;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    top: -12.5px;
}
.header-right ul li .dropdown-content#currDropdown:before {
    right: 48px;
}
.header-right ul li .dropdown-content#langDropdown:before {
    right: 43px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.deliveraddressIcon-clo-av {
    display: flex;
}
.deliveraddressIcon-clo-av .cart_b {
    position: relative;
    display: block;
}
.deliveraddressIcon-clo-av .cart_b .cart_count {
    color: #fff;
    background: #45aeac;
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    padding: 0 0px 0px 0px;
    margin: 0px 0px 0 0px;
    position: absolute;
    right: 0px;
    top: -6px;
    font-weight: 700;
}
header ul li a img.cart {
    width: 25px;
    margin-right: 5px;
}
/* Create three equal columns that floats next to each other */
.column {
    width: 100%;
    display: block;
   /* height: calc(100vh - 210px);
    height: -o-calc(100vh - 210px);
    height: -ms-calc(100vh - 210px);
    height: -moz-calc(100vh - 210px);
    height: -webkit-calc(100vh - 210px);*/
    font-size: 0;
    overflow-y: auto;
}
.column a:focus {
    outline: none;
    color: #000;
}
.dropdown-content .row h3 {
    display: flex;
    font-size: 25px;
    color: #000;
    font-family: var(--desc_font);
    font-weight: 600;
    width: 100%;
    padding: 15px 16px;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    box-sizing: border-box;
}
.dropdown-content .row h3 span {
    font-weight: 400;
    font-size: 35px;
    cursor: pointer;
}
.column a {
    float: none;
    color: #000;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: initial;
    line-height: normal;
    height: auto;
    font-weight: 500;
    box-shadow: 0 0 0 2px #fff inset;
    width: calc(25% - 10px);
    width: -o-calc(25% - 10px);
    width: -moz-calc(25% - 10px);
    width: -webkit-calc(25% - 10px);
    box-sizing: border-box;
    font-size: 14px;
}
.header-right ul li .dropdown-content .column a small {
    color: #666666;
}
header ul li #langDropdown .column a {
    font-size: 12px;
    text-transform: initial;
    vertical-align: top;
}
header ul li #currDropdown .column a {
    font-size: 12px;
    text-transform: uppercase;
}
.header-right ul li.lang .dropdown-content, .header-right ul li.curr .dropdown-content {
    width: 600px;
    right: 0;
    left: auto;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    top: 100%;
    height: auto;
    box-sizing: border-box;
    opacity: 1;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    padding: 0;
    opacity: 0;
    overflow: visible;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    /*margin-top: 13px;
    */margin-top: 0;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}
.header-right ul li.lang .dropdown-content .column,
.header-right ul li.curr .dropdown-content .column {
    height: auto;
}
.header-right ul li.lang .dropdown-content .row h3,
.header-right ul li.curr .dropdown-content .row h3  {
    display: flex;
    font-size: 14px;
    color: #000;
    font-family: var(--desc_font);
    font-weight: 500;
    width: 100%;
    padding: 8px 15px;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    background-color: #d5fffe;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}
.header-right ul li.lang .dropdown-content .column a,
.header-right ul li.curr .dropdown-content .column a,
header ul.mobile_language_cur li .dropdown-content .column a {
    padding: 4px 10px;
    margin: 4.5px;
    border-radius: 5px;
}
.header-right ul li.lang .dropdown-content .column a {
    width: calc(25% - 9px);
    width: -o-calc(25% - 9px);
    width: -moz-calc(25% - 9px);
    width: -webkit-calc(25% - 9px);
    vertical-align: middle;
}
.header-right ul li.curr .dropdown-content .column a,
header ul.mobile_language_cur li .dropdown-content .column a {
    width: calc(25% - 9px);
    width: -o-calc(25% - 9px);
    width: -moz-calc(25% - 9px);
    width: -webkit-calc(25% - 9px);
}
header ul.mobile_language_cur li.curr .dropdown-content .column a {
    width: calc(20% - 9px);
    width: -o-calc(20% - 9px);
    width: -moz-calc(20% - 9px);
    width: -webkit-calc(20% - 9px);
}
.header-right ul li.lang .dropdown-content .row h3 span,
.header-right ul li.curr .dropdown-content .row h3 span {
    font-size: 25px;
}
/***************************************/
#new-home-page {
    overflow-x: hidden;
}
#currDropdown ,#langDropdown {
    z-index: 99999
}
#currDropdown{ display:none;}
#mainCurrDropdown:hover #currDropdown{ display:block; opacity: 1; visibility: visible; }
#langDropdown{ display:none;}
#mainLangDropdown:hover #langDropdown{ display:block; opacity: 1; visibility: visible; }
.column a.active,
.dropdown-content .column a:hover {
    background-color: #ddd;
    color: #000;
}
[dir="rtl"] .header-right ul li.lang .dropdown-content,
[dir="rtl"] .header-right ul li.curr .dropdown-content {
    left: 0;
    right: auto;
}
[dir="rtl"] .header-right ul li.lang .dropdown-content,
[dir="rtl"] .header-right ul li.curr .dropdown-content{
    left: -30px;
    right: auto;
}
[dir="rtl"] .header-right ul li .dropdown-content#currDropdown:before {
    left: 79px;
    right: auto;
}
[dir="rtl"] .header-right ul li .dropdown-content#langDropdown:before {
    left: 75px;
    right: auto;
}
/*************header css End*******************/
@media screen and (max-width:1280px) {
    .dashboard header.loggedin {
        padding: 0 0 0 30px;
    }
    header.loggedin .header-inner .header-left {
        padding: 0 0px 0 30px;
    }
}
@media screen and (min-width:1199px) {
    .header-right ul li.lang .dropdown-content {
        width: 800px;
    }
}
@media screen and (max-width:1150px) {
    .header-left ul li.has-level-menu {
        display: block;
    }
    .header-left ul li:first-child {
        display: inline-block;
    }
    .header-left ul li {
        padding: 0 10px;
    }

}
@media screen and (min-width:1025px) {
    /* header ul li:hover .dropdown-content {
        display: block;
    } */
}
@media screen and (max-width:767px) {
    .header-right ul li {
        padding: 0 10px;
    }
    .header-right {
        display: flex;
    }
    header {
        position: relative;
        z-index: 2;
    }
    .header-right ul li:hover,
    .header-right ul li.login {
        background-color: transparent;
    }
}
@media screen and (max-width:480px) {
    header ul li.login a img {
        margin: 0;
    }
    .header-right ul li.lang .dropdown-content .column a {
        width: calc(50% - 9px);
        width: -o-calc(50% - 9px);
        width: -moz-calc(50% - 9px);
        width: -webkit-calc(50% - 9px);
    }
    header ul.mobile_language_cur li.lang .dropdown-content .column a {
        width: calc(50% - 9px);
        width: -o-calc(50% - 9px);
        width: -moz-calc(50% - 9px);
        width: -webkit-calc(50% - 9px);
    }
    header ul.mobile_language_cur li .dropdown-content .column a {
        width: calc(33.33% - 9px);
        width: -o-calc(33.33% - 9px);
        width: -moz-calc(33.33% - 9px);
        width: -webkit-calc(33.33% - 9px);
    }
}
@media screen and (max-height:600px) and (max-width:767px) {
    .dropdown-content {
        top: 53px;
        height: calc(100vh - 53px);
        height: -moz-calc(100vh - 53px);
        height: -o-calc(100vh - 53px);
        height: -moz-calc(100vh - 53px);
        height: -webkit-calc(100vh - 53px);
        overflow-y: auto;
        padding: 0 0 15px 0;
    }
}
/*******************header stylesheet start*********************/
[dir="rtl"] .header-left .logo {
    margin: 0 10px 0 60px;
}
[dir="rtl"] .header-left ul li:last-child {
    margin-left: 0;
}
@media screen and (max-width:1289px) {
    [dir="rtl"] .dashboard header.loggedin {
        padding: 0 30px 0 0;
    }
    [dir="rtl"] header.loggedin .header-inner .header-left {
        padding: 0 30px 0 0;
    }
    .header-left .logo {
        margin-right: 20px;
    }
    [dir="rtl"] .header-left .logo {
        margin: 0 10px 0 20px;
    }
}
@media (min-width:1199px) and (max-width:1250px) {
    header ul li a {
        font-size: 14.4px;
    }

}
@media screen and (min-width:1199px) {
    .header-menu {
        display: flex !important;
    }
}
@media screen and (max-width:1198px) {
    header{
        max-width: 100%;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .header-left .logo {
        margin-right: 0;
        padding: 0 5px 0 0;
        margin-left: 0;
    }

    .menu-icoholder,
    .mix-content .menu-icoholder {
        display: flex;
    }
    header.loggedin .menu-icoholder {
        display: none;
    }
    .mix-content .menu-icoholder-side {
        z-index: 111;
    }
    ul.navmenu-links.linksfordesk {
        display: none;
    }
    ul.navmenu-links.linksformob {
        display: block;
    }
    header {
        padding: 8px 0 0 0;
        background-color: #fff;
    }
    .header-right {
        width: 100%;
        padding-top: 8px;
    }
.header-menu {
    display: none;
    background-color: #fff;
    margin: 0 -10px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #ddd;
    width: calc(100% + 20px);
    width: -o-calc(100% + 20px);
    width: -moz-calc(100% + 20px);
    width: -webkit-calc(100% + 20px);
}
    .header-inner {
        padding: 0 10px;
    }
    header.loggedin .header-menu {
        margin: 0 -15px 0 -15px;
    }
    .header-left ul, .header-right ul {
        display: block;
    }
    .header-right ul.navmenu-links li:first-child {
        display: block;
    }
    .header-right ul.navmenu-links li,
    .header-right ul li {
        display: block;
        border-bottom: 1px solid #ddd !important;
    }
    .he_login li:last-child{
            border: 0 !important;
        }
    header.fixed .header-right ul li,
    [dir="rtl"] .header-right ul li:last-child,
    header.loggedin .header-right ul li.login {
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    header ul li a {
        height: auto;
        padding: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #000;
    }
    header.fixed.loggedin .header-right ul li.login.active a {
        border: none;
        color: #fff;
        background-color: transparent;
        border-radius: 0;
        padding: 15px;
    }
    header.fixed .header-right ul li.login a img {
        display: none;
    }
    header.fixed.loggedin .header-right ul li.login.active {
        background-color: #45aeac;
    }
    header.fixed.loggedin ul li.login a img {
        display: inline-block;
        filter: invert(1);
    }
    header.fixed .header-right ul li.lang,
    header.fixed .header-right ul li.curr {
        display: none;
    }
    header.fixed {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    }
    header.fixed .header-right ul li.login a,header.fixed .header-right ul li.login.active a {
        width: 100%;
        border: none;
        border-radius: 0;
        background-color: transparent;
        padding:15px;
    }
    #new-home-page header.fixed .header-right ul li.login.active a,
    header.fixed .header-right ul li.login a,
    header.fixed .header-right ul li.login.active a {
        color: #303030;
    }
    .header-right ul li.login:after {
        display:none;
    }
    .header-right ul li {
        border-width: 0;
    }
    .mobile_language_cur {
        display: flex;
        flex-wrap: wrap;
        margin-left:auto;
    }
    header ul.mobile_language_cur li .dropdown-content {
        width: 95vw;
        top: 72px;
        margin: 0 auto;
    }
    header ul.mobile_language_cur li a {
        margin: 0 5px;
        padding: 7px 5px 7px 10px;
    }
    .he_login{
        flex-direction: column;
        border: 0;
        gap: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
.he_login li.active{
    background-color: transparent;
}
    /***********************************/
    .column a {
        width: 33.33%;
    }
    /***********************************/
    [dir="rtl"] .header-left .logo {
        margin: 0;
        padding: 0 0 0 5px;
    }
    [dir="rtl"] .header-left ul li {
        margin: 0 0 0 10px;
    }

}
@media screen and (max-width:767px) {
    .header-right ul li {
        padding: 0 10px;
    }
    header {
        position: relative;
        z-index: 2;
    }
    .header-right ul li:hover,
    .header-right ul li.login {
        background-color: transparent;
    }
    header ul.mobile_language_cur li.curr .dropdown-content .column a {
        width: calc(25% - 9px);
        width: -o-calc(25% - 9px);
        width: -moz-calc(25% - 9px);
        width: -webkit-calc(25% - 9px);
    }
    /***********************************/
    .column a {
        width: 50%;
    }

}
@media screen and (max-width:630px) {
    header ul li a img {
        width: 13px;
    }
    header ul.mobile_language_cur li a {
        margin: 0 3px;
    }
}
@media screen and (max-width:480px) {
    .header-inner{
        padding: 0 10px;
    }
    /***********************/
    .header-left .logo a {
        width: 111px;
        height: 50px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    header ul.mobile_language_cur li.curr .dropdown-content .column a {
        width: calc(33.33% - 9px);
        width: -o-calc(33.33% - 9px);
        width: -moz-calc(33.33% - 9px);
        width: -webkit-calc(33.33% - 9px);
    }
    .thirdlavelcatblock {
        width: 100%;
    }
    [dir="rtl"] header ul li.login a img {
        margin: 0 0 0 0;
    }
    /***********************************/
    .column a {
        width: 100%;
    }
    header ul.mobile_language_cur li a {
        padding: 4px;
    }
}
@media screen and (max-height: 600px) and (max-width: 767px) {
    .dropdown-content {
        top: 53px;
        height: calc(100vh - 53px);
        height: -moz-calc(100vh - 53px);
        height: -o-calc(100vh - 53px);
        height: -moz-calc(100vh - 53px);
        height: -webkit-calc(100vh - 53px);
        overflow-y: auto;
        padding: 0 0 15px 0;
    }
}