:root {
    --mainColor: #fdaf3e;
    --mainColorSecond: #fdaf3e;
    --mainTextColor: #fff;
    --mainTextColorHover: #ffffff;
    --mainTextMenuColorHoverDefault: #000000;
    --mainTextFilterColor: invert(83%) sepia(50%) saturate(2070%) hue-rotate(328deg) brightness(102%) contrast(98%);
    --mainTextFilterColorHover: invert(81%) sepia(28%) saturate(4809%) hue-rotate(340deg) brightness(90%) contrast(87%);
    --mainColorHover: #d8902b;
    --hoverColor: #757575;
    --mainfilterimg: invert(83%) sepia(50%) saturate(2070%) hue-rotate(328deg) brightness(102%) contrast(98%);
    --mainfilterimgHover: invert(81%) sepia(28%) saturate(4809%) hue-rotate(340deg) brightness(90%) contrast(87%);
    --buttonColor: #000000;
    --buttonColorHover: #333;
    --mainColorLight: #fff0da;
    --gotopBGColor: #fdaf3e;
    --gotopImgColor: invert(0);
    --gotopHoverBGColor: #d8902b;
    --gotopHoverImgColor: invert(100%);
    --Whiteimagefilter: invert(1);
}

@mainColor: var(--mainColor);
@mainColorSecond: var(--mainColorSecond);
@mainTextColor: var(--mainTextColor);
@mainTextColorHover: var(--mainTextColorHover);
@mainTextMenuColorHoverDefault: var(--mainTextMenuColorHoverDefault);
@mainTextFilterColor: var(--mainTextFilterColor);
@mainTextFilterColorHover: var(--mainTextFilterColorHover);
@mainColorHover: var(--mainColorHover);
@hoverColor: var(--hoverColor);
@mainfilterimg: var(--mainfilterimg);
@mainfilterimgHover: var(--mainfilterimgHover);
@buttonColor: var(--buttonColor);
@buttonColorHover: var(--buttonColorHover);
@mainColorLight: var(--mainColorLight);
@gotopBGColor: var(--gotopBGColor);
@gotopImgColor: var(--gotopImgColor);
@gotopHoverBGColor: var(--gotopHoverBGColor);
@gotopHoverImgColor: var(--gotopHoverImgColor);
@Whiteimagefilter: var(--Whiteimagefilter);

.gen-btn,
.button-block a.gen-btn,
.modal .modal-footer .btn {
    background: @buttonColor;
}

.deliveraddressIcon-clo-av .cart_b .cart_count {
    color: @mainColor;
    background: @mainTextColor;
}

.custom-model-header,
.login-block-heading {
    background-color: @mainColorLight !important;
}

ul.tab-row.homepage li:before,
.header-right ul li.lang .dropdown-content .row h3,
.header-right ul li.curr .dropdown-content .row h3,
header ul.mobile_language_cur li .dropdown-content .row h3 {
    background-color: @mainColorLight;
}

.how-it-works-section ul li:first-child:before,
.how-it-works-section ul li:first-child:after,
.services ul li .service-block:hover a,
.benefits ul li i,
.benefits .benefits-right ul li i,
.get_app_area,
.howitworks .horizonatal-title h3:after,
.howitworks ul li:hover i:after,
.benefits .horizonatal-title h3:after,
.delivery-left button,
.destination ul li:hover .destination-caption,
.charters ul li:hover .charters-caption,
.dark-variant.benefits,
.article-image,
.invoice-pay-type,
.track-order-data ul li.passed i,
.profile-image i,
.booking-header,
.radio-button:after,
.check-button:after,
.custom-modal .model-header,
.custom-modal .modal-header,
.modal .modal-header,
.upload-block strong,
.custom-model-header,
.payment-delivery-tip .radio-toolbar input[type="radio"]:checked+label,
.common-title h3 span:after,
.common-title h3 span:before,
.custom-modal-genbtn,
.company-register-card:after,

.workflow ul li i,
ul.user-menu li.active a,
.close__menu span:before,
.close__menu span::after,
.earning-block,
.gen-cms-page h2.header-page:after,
ul.appfor-listing li i.withbg,
// .home-button-block a.common-button,
// .footer-top,
// .footer-bottom,
.home-sec-pg-banner .categories-block .button-block-ride .book-now-btn{
    background-color: @mainColor;
    border-color: @mainColor;
    color: @mainTextColor;
}
.home-sec-pg-banner .categories-block .button-block-ride .book-now-btn:hover{
    color: @mainColor;
    background-color: #fff;
}
.full_modal_header,
.safety-section.homestyle a.book-btn {
    background-color: @mainColor;
}
.menu-ico span,
.menu-ico span::after,
.menu-ico span::before{
    background-color: @mainColor;
}
.download ul li a:hover,
.workingprocess ul li .workingprocess-block:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px @mainColor inset;
}
.become ul li a:hover{
    outline-color: @mainColor;
}
.become ul li a:hover strong i{
    color: @mainColor;
}
ul.tab-switch li.active a {
    box-shadow: 0 0 0 1px @mainColor;
}
.download ul li a:hover i{
    color: @mainColor;
}
.custom-model-header,
.countryPhoneSelectWrapper .countryCode {
    background-color: @mainColor !important;
}

.countryPhoneSelectWrapper .countryCode {
    color: @mainTextColor !important;
}

.login-caption ul li:before,
.gen-cms-page h2.header-page:after {
    border-color: @mainColor;
}

.toggle-switch .toggle-base:after,
.pick-drop-location .form-group.pickup:before,
.login-caption ul li:before {
    background-color: @mainTextColor;
}

.header-right ul li .dropdown-content:before {
    border-bottom-color: @mainColor;
}

.custom-modal.style2 .model-header h4 {
    color: @mainColor;
}

.count-ride-amount button,
.custom-modal.style2 .gen-btn {
    background-color: @mainColor;
}

.profile-image i.fa-pencil:hover,
.earning-block:hover,
.benefits.dark-variant ul.listing-style li i,
.safety-section.homestyle a.book-btn:hover {
    background-color: @mainColorHover;
}

.benefits.dark-variant ul.listing-style li {
    border-color: @mainColorHover;
}
// .home-button-block a.common-button:hover,
// .home-sec-pg-banner .categories-block .btn-hold input[type="submit"],
.login-block-heading {
    border-color: @mainColor;
}
// ------------Home Btn color

// .home-sec-pg-banner .categories-block .button-block-ride .book-now-btn,
// .home-button-block a.common-button:hover{
//     color: @mainColor;
//     border-color: @mainColor;
// }
// .benefits ul li:hover i {
//     background-color: @mainColorHover;
// }
// .home-sec-pg-banner .categories-block .btn-hold input[type="submit"]:hover{
//     color: @mainColor;
// }

.home-caption-desc a.common-button,
 .home-button-block a.common-button {
    border-color: @mainColor;
    background-color: @mainColor;
    color: @mainTextColor;
}
.home-caption-desc a.common-button:hover,
 .home-button-block a.common-button:hover{
    color: @mainColor;
 }
.footer-top,
.footer-bottom {
    position: relative;
    z-index: 1;
}

.services.homepage ul li .service-block a::before {
    background-color: @mainColor;
}

ul.tab-row li span,
.how-it-works-section h3,
.how-it-works-section ul li strong,
.call-section h3,
.services h3,
.benefits ul li:hover strong,
.cartype h3,
.article-right h4,
.article-right h4,
.call-section.taxi-variant h3,
.call-section.taxi-variant b,
.call-section.taxi-variant p b,
.fleet.food-variant h3,
.benefits h3,
.restaurant h3,
.howitworks h3,
.solutions h3,
.solutions-left h4,
.features h3,
.destination h3,
.charters h3,
.step-sec .step-sec-inner>h3,
.profile-title h4,
.heading-area h1,
.about-caption h3,
.gen-cms-page h2.header-page,
.login-block-heading label,
.profile-caption .page-heading h1,
.thanks-holder h2,
.banner-section.taxi-app ul.tab-row li a,
.delivery h3,
.common-sub-title,
.callaction,
.login-right h1{
    color: @mainColor;
}

.signup-block a {
    color: @mainColor;
}

.page-contant-inner h2,
.header-page p {
    color: @mainColor;
}

.header-page::before,
.contact-form b .submit-but,
.delivery .horizonatal-title h3:after,
.custom-model-header {
    background-color: @mainColor;
}

ul.tab-switch li.active a {
    color: @mainColor;
}

.how-it-works-section.homepage-variant ul li strong {
    color: @buttonColor;
}

.signup-block a:hover:hover,
.categories-caption h2 span {
    color: @buttonColorHover;
}


.categories-caption a.book-btn,
.call-section a.book-btn,
.btn-hold input[type="submit"],
.btn-hold #sendOTP,
.deliver-address button[type="submit"],
.gen-btn,
.profile-block .profile-caption-header button,
button.waves-effect,
.booking-footer .submitbtn,
.filter-form input[type="submit"],
.filter-form button,
.filter-form a.gen-btn,
.button-block a.gen-btn,
.fileUploading:before,
.button-block-ride .book-now-btn {
    background-color: @buttonColor;
}

.general-form .btn-hold input[type="button"]:hover,
.categories-caption a.book-btn:hover,
.call-section a.book-btn:hover,
.btn-hold input[type="submit"]:hover,
.btn-hold #sendOTP:hover,
.btn-hold #sendOTP:focus,
.btn-hold input[type="submit"]:focus,
.deliver-address button[type="submit"]:hover,
.deliver-address button[type="submit"]:focus,
.gen-btn:hover,
.gen-btn:focus,
.profile-block .profile-caption-header button:hover,
button.waves-effect:hover,
button.waves-effect:focus,
.booking-footer .submitbtn:hover,
.booking-footer .submitbtn:focus,
.filter-form input[type="submit"]:hover,
.filter-form button:hover,
.filter-form a.gen-btn:hover,
.gen-btn:hover,
.button-block a.gen-btn:hover,
.button-block a.gen-btn:focus,
.fileUploading:hover:before,
.btn-hold input[type="button"]:hover,
.button-block-ride .book-now-btn:hover,
.button-block-ride .book-now-btn:focus {
    background-color: @buttonColorHover;
}
.how-it-works-section ul li:first-child:before {
    box-shadow: 0 0 0 2px @mainColor inset;
}

.services ul li .service-block:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06), 0 0 0 1px @mainColor;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06), 0 0 0 1px @mainColor;
}

.benefits.food-variant ul li i {
    background-color: transparent;
}

.faq-top-part li.Active a {
    box-shadow: 0 0 0 2px @mainColor inset;
    -webkit-box-shadow: 0 0 0 2px @mainColor inset;
    color: @mainColor;
}

.howitwork,
ul.tab-row li:after,
.banner-image-first.first-overlay::before {
    background-color: #4e4d4d;
}

.profile-image {
    box-shadow: 0 0 0 2px @mainColor;
}


.toggle-switch input[type="checkbox"]:checked~.toggle-base,
.toggle-switch input[type="radio"]:checked~.toggle-base {
    background-color: @mainColor;
    opacity: 0.85;
}

.radio-button,
.check-button {
    box-shadow: 0 0 0 1px @mainColor inset;
}

.faq-bottom-part ul li a:after,
.thanks-holder img,
.login-caption1 ul li:before,
.gen-cms-page ul li:before {
    filter: @mainfilterimg;
}

ul.user-menu li.active a,
ul.user-menu li a,
.earning-block .count,
.earning-block strong,
.earning-block a.go-icon,
header .header-left ul li:hover a,
.pick-drop-location .form-group.dest:before,
.pick-drop-location input,
.company-register-card:after,
.benefits.dark-variant ul.listing-style li strong,
.benefits.dark-variant ul.listing-style li p,
.dark-variant.benefits h3,
.dark-variant.benefits .benefits-inner>strong,
.get_app_content .section_title h2,
.get_app_content p,
.get_app_content ul li,
.upload-block strong,
.custom-modal .model-header h4,
.modal .modal-header h4,
.custom-modal .model-header i,
.profile-image i,
.booking-header,
.pick-drop-location input::placeholder,
.invoice-pay-type,
.destination ul li:hover .destination-caption,
.charters ul li:hover .charters-caption,
.charters ul li:hover .charters-caption span,
header {
    color: @mainTextColor;

}

.pick-drop-location .pickup input,
.pick-drop-location input {
    border-color: @mainTextColor !important;
}

.icon-close,
h4.custom-modal-title {
    color: @mainTextMenuColorHoverDefault;
}

.services ul li .service-block:hover a {
    background-color: @mainTextColor;
}

.services ul li .service-block:hover a {
    background-color: @gotopBGColor;
}

.services ul li .service-block:hover,
.services ul li .service-block:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06), 0 0 0 1px @gotopBGColor;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06), 0 0 0 1px @gotopBGColor;
}

.benefits.dark-variant ul.listing-style li i img,
.get_app_content ul li::before,
.benefits ul li i img,
.delivery-left button img {
    filter: @mainTextFilterColor;
    -webkit-filter: @mainTextFilterColor;
}

.pick-drop-location .form-group.pickup:after,
.gotop img {
    filter: @gotopImgColor;
    -webkit-filter: @gotopImgColor ;
}

.gotop:hover img {
    filter: @gotopHoverImgColor;
    -webkit-filter: @gotopHoverImgColor ;
}


.gotop {
    background-color: @mainColor;
}

.gotop:hover {
    background-color: @mainColorHover;
}

.delivery-pref-button button {
    background-color: @mainColor;
}

.delivery-pref-button button:hover {
    background-color: @hoverColor;
}


/* Payment Module */
.in-app-wallet .add-money-btn,
.in-app-wallet-amount,
.promocode-section .promocode-val,
.profile-section .profile-section-item.active,
.demo-cards .demo-cards-list-desc,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: @mainColor;
}

.payment-title-border,
.profile-section .profile-section-item.active,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    border-bottom-color: @mainColor;
}

.spinner {
    border-top-color: @mainColor !important;
}

.profile-select.nav-pills .show>.nav-link,
.card-header .nav-pills .show>.nav-link,
.custom-select-modal .list-group-item.active,
.amt-header,
.in-app-wallet .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.payment-mode-block.active,
.payment-mode-btn,
.set-default-card,
.payment-mode-btn:disabled,
.custom-select-modal .list-group-item.active,
.payment-header,
.payment-mode-btn:hover,
.payment-mode-btn:active,
.card-btn,
.confirm-btn,
.submit-card-btn {
    background-color: @mainColor !important;
}

.payment-mode-block.active,
.payment-mode-btn,
.set-default-card,
.payment-mode-btn:disabled,
.custom-select-modal .list-group-item.active,
.in-app-wallet .custom-control-input:checked~.custom-control-label::before,
.countryPhoneSelectWrapper,
.banner-shape,
.confirm-btn,
.submit-card-btn,
.saved-cards-list .custom-control-input:checked~.custom-control-label::before {
    border-color: @mainColor !important;
}

#org_note img,
.saved-cards-list .custom-radio .custom-control-input:checked~.custom-control-label::after,
.promocode-applied img,
.open-promocode img,
.change-promocode img,
.card-text>span:not(.card-brand)>img {
    filter: @mainfilterimg;
}


// 23-01-204
.call-section a.book-btn:hover,
.safety-section a.book-btn:hover {
    background-color: @buttonColorHover;
}
header .header-left ul li:hover a,
header .header-left ul li:focus a,
header .header-left ul li.active a {
    color: @mainColor;
}

.detect-loc-booking {
    filter: @Whiteimagefilter;
}
.company-register-card:hover {
    box-shadow: 0 0 13px 0 @mainColorLight, 0 0 0 2px @mainColor inset;
}
.become ul li strong:before {
    background-color: var(--mainColorLight);
}
.become ul li:hover .become-block:after {
    background-color: var(--mainColorHover);
}
/* Payment Module End */
@media screen and (max-width:1198px)  {
.he_login li.active a,
header ul li a.active{
    color: @mainColor !important;
}
}
@media screen and (max-width: 991px) {
    header.fixed .header-right ul li.login.active a.active {
        color: @mainColor;
        background-color: transparent ;
    }

    header.fixed .header-right ul li.login a,
    header.fixed .header-right ul li.login:hover a {
        background-color: transparent;
    }

    header.fixed .header-right ul li.login a {
        border: none;
    }

    #new-home-page header.fixed .header-right ul li.login.active a,
    header.fixed .header-right ul li.login.active a {
        color: @mainColor;
        background-color: transparent;
    }
}
